{% load static %}

<!DOCTYPE html>
<!--           Contains what the "detail" page for a specific recipe would look like      d -->


<html>


<style>.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }</style>




















    <head>
        <title>Recipe Django Project</title>
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/recipes.css' %}">
    </head>
    <body>


        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
                <a href="{% url 'create_recipe' %}">Create a Recipe</a>
            </nav>
        </header>
    
        <main>
            

            <h1>Create A Recipe</h1>
            <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/11537/4a78f148-d427-4209-8173-f33d04c44106.jpg">
            

                                    <main>
                                     <form method="POST">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="button-56" role="button">Create</button>  
                                        
                                    </main> 
    

                <footer>Made with love by Scrumptious Recipes</footer>








        </main>


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </body>






</html>