{% load static %}

<!DOCTYPE html>
<!--           Contains what the "detail" page for a specific recipe would look like      d -->


<html>
    <head>
        <title>
            {{ recipe_object.title }} 
            Scrumptious Recipes
          </title>
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/recipes.css' %}">
    </head>
    <body style="background-color:{% cycle '#78BC61' '#96CDFF' '#C0C781' '#C59B76' '#E9806E'%}">


        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
                <a href="{% url 'create_recipe' %}">Create a Recipe</a>
                
                
            </nav>
        </header>
    
        <main>
            <h1> {{recipe_object.title}} </h1>
            <img src="{{recipe_object.picture}}">
            <div>4.3 stars</div>
            <h2>Ingredients</h2>


            <table>
                <thead>
                    <th>Amount</th>
                    <th>Food Item</th>
                </thead>
                <tbody>
                    <tr>
                        <th>1 cup</th>
                        <th>Green beans</th>
                    </tr> 
                   
                    <tr>
                        <th>3 ears</th>
                        <th>Fresh corn</th>
                    </tr> 
                   
                    <tr>
                        <th>2 cups</th>
                        <th>Tomatillo salsa</th>
                    </tr> 
                   
                    <tr>
                        <th>8</th>
                        <th>Corn tortillas</th>
                    </tr> 
                   
                    <tr>
                        <th>0.5 cups</th>
                        <th>Cotija cheese</th>
                    </tr> 

                </tbody>

                </table>

                <h2>Steps</h2>
                <div class="paddingfixbruh">
                <ol>
                    <li>Blanch the green beans</li>
                    <li>Grill the green beans and the ears of corn</li>
                    <li>Chop the green beans</li>
                    <li>Slice the corn off the cob</li>
                    <li>Grill the tortillas</li>
                    <li>Assemble the tacos with veggies, salsa, and cheese</li>
                </ol>
                </div>


                <footer>Made with love by Scrumptious Recipes</footer>








        </main>


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </body>






</html>