
{% load static %}

{% comment %} <li style='background-color:{% cycle 'lightblue' 'pink' %}'> {% endcomment %}

<!DOCTYPE html>

<html>
    <head> 
        <title>Scrumptious Recipes</title>
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/recipes.css' %}">

        <body style="background-color:{% cycle '#69DDFF' '#96CDFF' '#D8E1FF' '#DBBADD' '#BE92A2'%}">

            <header>
                <nav>
                    <a href="{% url 'recipe_list' %}">Main Page</a>
                    <a href="{% url 'create_recipe' %}">Create a Recipe</a>
                </nav>

            </header>
        
        </head>
                <main>
                    <h1>Scrumptious Recipes</h1>
                   
                              
                    <h2>All the food that's fit to eat</h2>

                   
             






                <div class="grid-container">
                  {% for recipe in recipe_list %}   
                    <div>
                        <h3>
                            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title}}</a>
                            
                        </h3>
                        <p>{{recipe.created_on|date:"j F Y" }}</p>
                        <img src="{{recipe.picture|default:"http://via.placeholder.com/150"}}">
                        <div>4.3 stars</div>
                    </div>

                    {% empty %}
                    <p>No recipes yet!</p>
                    {% endfor %}
                   

                                </div>





















                </main>












            </body>

            <footer>
                Made with love by Scrumptious Recipes
            </footer>
    
</html>
