

body {
margin: 0;
padding: 0;
}

main {
    padding: 16px;
}

footer{
    padding: 24px 0;

}

img{
    height: 200px;
    border-radius: 30px;
    box-shadow: 12px 12px 2px 1px rgba(0,0,255,.2);

}

nav{
    border-bottom: 1px solid black;
    background-color: rgb(230, 92, 29);
    padding: 16px;
    box-shadow: 10px 5px 5px red;
}

footer{
    border-bottom: 1px solid black;
    background-color: rgb(189, 233, 88);
    justify-content: center;
    align-items: start;
    padding-left: 40px;
    box-shadow: 10px 5px 5px red;

}



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding:10px;

}

.grid-item {
    background-color: cadetblue;
    border: 3px dashed;
    padding: 20px; 
    font-size: 30px;
}


a {
color: darkgoldenrod;
text-decoration: none;


}

tr:nth-child(even) {
    background-color: bisque;
    
}

.paddingfixbruh{
    padding-bottom: 50px;
    text-align:justify;
    display: flex;



}


.bg-color-1 {
    background-color: #ffcccc; /* light red */
}

.bg-color-2 {
    background-color: #ccffcc; /* light green */
}

.bg-color-3 {
    background-color: #ccccff; /* light blue */
}